<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itr - App Estudiante</title>
    <link rel="stylesheet" href="../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../resources/css/styles.css">
    <link rel="stylesheet" href="../resources/img/icons/fontawesome-free-5.13.0-web/css/all.css">
</head>
<body>
    <main>
        <div class="Login-back-img">
            <div class="container-fluid bg-dark">
                <form class="text-center" method="post">
                    <i class="fas fa-user fa-lg "></i>
                    
                    
                    <h1></h1>
                </form>
            </div>
        </div>
    </main>    
    <script src="../resources/js/jquery.min.js"></script>
    <script src="../resources/js/bootstrap.min.js"></script>
</body>
</html>