<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itr - App Estudiante</title>
    <link rel="stylesheet" href="../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../resources/css/styles.css">
    <link rel="stylesheet" href="">
</head>
<body>
    <main>
        <div class="Login-back-img">
            <div class="container-fluid bg-dark">
                <p>jsjsjs</p>
            </div>
        </div>
    </main>    
    <script src="../resources/js/jquery.min.js"></script>
    <script src="../resources/js/bootstrap.min.js"></script>
</body>
</html>