<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itr - App Estudiante</title>
    <link rel="stylesheet" href="../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../resources/css/styles.css">
    <link rel="stylesheet" href="../resources/img/icons/fontawesome-free-5.13.0-web/css/all.css">
</head>

<body>

    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-2 col-xl-5 mx-auto my-auto">
                <div class="container">

                    <div class="text-center my-4">
                        <img src="../resources/img/logo-ricaldone.png" class="lric" alt="rical">
                    </div>

                    <div class="card card-signin flex-row ">
                        <div class=" d-none d-md-flex">
                            <!-- Background image for card set in CSS! -->
                        </div>
                        <div class="card-body">
                            <div class="text-center">
                                <i class="fas fa-user fa-2x mb-4"></i>
                                <br>
                            </div>
                            <form class="form-signin">

                                <div class="input-group mb-2 form-label-group">
                                    <input type="text" class="form-control" id="inputUserame" minlength="0" maxlength="8" size="8"   placeholder="Username"
                                        required>
                                    <label for="inputUserame">Codigo</label>
                                    <div class=" correo">
                                        <div class="input-group-text correo small p-0">@ricaldone.edu.sv</div>
                                    </div>
                                </div>                                

                                <div class="form-label-group">
                                    <input type="password" id="inputPassword" class="form-control"
                                        placeholder="Password" required>
                                    <label for="inputPassword">Contraseña</label>
                                </div>
                                <hr class="my-4">
                                <button class="btn btn-lg btn-primary btn-block text-uppercase"
                                    type="submit">Iniciar sesión</button>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a class="d-block text-center mt-2 small" href="register.html"><span class="mx-1 text-black-50">¿No has creado tu cuenta?</span>Registrarse</a>
        </div>
        <script src="../resources/js/jquery.min.js"></script>
        <script src="../resources/js/bootstrap.min.js"></script>
</body>

</html>