<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itr - App Estudiante</title>
    <link rel="stylesheet" href="../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../resources/css/styles.css">
    <link rel="stylesheet" href="../resources/img/icons/fontawesome-free-5.13.0-web/css/all.css">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-xl-5 mx-auto my-auto">
                <div class="container">
                    <div class="text-center my-4">
                        <img src="../resources/img/logo-ricaldone.png" class="lric" alt="rical">
                    </div>
                </div>
                <div class="card card-signin flex-row ">
                    <div class=" d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <i class="fas fa-user-plus fa-2x mb-4"></i>
                        </div>
                        <form class="form-signin">
                            <div class="alert alert-warning" role="alert">
                                <h4 class="alert-heading">¡Aviso!</h4>
                                <p>Al iniciar sesión con Google tienes que seleccionar el correo que te proporciona la
                                    institución.
                                </p>
                                <hr>
                                <p class="mb-1">Ejemplo: 20180359@ricaldone.edu.sv</p>
                            </div>
                            <hr class="my-4">
                            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i
                                    class="fab fa-google mr-2"></i>Registrarse con Google</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-4">
        <a class="d-block text-center mt-2 small" href="#"><span class="mx-1 text-black-50">¿Ya tienes una cuenta?</span>Iniciar sesión</a>
    </div>
    <script src="../resources/js/jquery.min.js"></script>
    <script src="../resources/js/bootstrap.min.js"></script>
</body>

</html>